<html>
    <head>
        <title>Hydra Chat</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
        <link rel="stylesheet" href="index.css">
    </head>
    <body>
            <div id="chat_heading">Hydra Chat<span style="padding-top:5px; height:5px; display:block;"></span><span style="font-size:20px; color:white; display:block; padding-bottom: 10px;">(Exclusively for Hydra members)</span></div>
            <div id="chuser_box">
                <span><input type="text" id = "chuser_field" placeholder="Default is 'Anonymous'" ></span>
                <span><button id = "chuserbutton" >Change Username</button></span>
            </div>
            <div id="chat_box">
                <div id="chat">

                </div>   
            </div>
            <div id="msg_box">
                <span><input type="text" id ="msg"></span>
                <span><button id ="msg_send">Send</button></span>
            </div>
            <script src="jquery.js"></script>
            <script src="index.js"></script>
    </body>
</html>